body {
   background-image: url("https://wallpapercave.com/wp/aP75xr3.jpg") ;
}

h1 {
   text-align: center;
   color: whitesmoke;
   font-size: 50px;
   font-family: fantasy;
   
}

.winner {
   display: none;
   margin: auto;
   position: relative;
}

.deck {
   text-align: center;
}

.card {
   display: inline-block;
   border:1px solid rgb(0, 0, 0);
   border-radius: 5px;
   width: 100px;
   height: 100px;
   background-color: #BADA55;
   cursor: pointer;
}
.card.done {
   cursor: default;
   
}

.card.done:hover {
   cursor: default;
   opacity: 100%;
}

.card:hover {
   opacity: 50%;

}

.red {
   background-color: red;

}

.blue {
   background-color: blue;
}

.green {
   background-color: green;
}

.yellow {
   background-color: yellow;
}

.pink {
   background-color: pink;
}

.orange {
   background-color: orange;
}

.black {
   background-color: black;
}

.purple {
   background-color: purple;
}

.color {
   background-color: #BADA55;
}

/* button { */
   /* font-family: monospace;
   text-transform:uppercase;
   font-size: medium;
   background:#555;
   border:1px solid rgb(0, 0, 0);
   border-radius: 5px;
   padding:20px 20px;
   color:rgb(203, 19, 19);
   cursor:pointer;
} */



